.footer-page {
    display: flex;
    justify-content: center;
    padding: 2vw 5vw 1vw;
    background-color: rgb(214, 237, 237);
    border: 1px solid black;
    position: sticky;
    z-index: 5; 
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;

    &>hr {
        width: 0.1vw;
        scale: 0.85;
    }
}

.footer-company {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 27vw;

    &>iframe {
        width: 60%;
        margin-left: 20%;
        aspect-ratio: 1/1;
        box-shadow: 0 0 1vw grey;
    }
}

.footer-company-detail {
    display: flex;
    width: 30vw;
    align-items: center;
    gap: 1vw;

    &>img {
        width: 15%;
        cursor: pointer;
    }

    &>h3 {
        font-size: 1.75vw;
        cursor: pointer;
    }
}

.footer-links {
    display: flex;
    width: 25vw;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1vw;
    /* background-color: cadetblue; */
    padding: 1.5vw;
    &>h3 {
        color: rgb(17, 66, 66);
        margin-bottom: 1vw;
    }
    &>a {
        color: rgb(17, 66, 66);
        text-decoration: none;
    }

}

.footer-contacts {
    display: flex;
    width: 30vw;
    flex-direction: column;
    padding: 1.75% 3%;
    gap: 5%;
    &>div{
        width: 70%;
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 4%;
        &>img{
            width: 7%;
        }
        &>a{
            text-decoration: none;
            color: black;
        }
    }
    &>div:nth-of-type(2){
        width: 90%;
        gap: 1%;
        &>img{
            width: 10%;
            transform: translate(-10% , -20%);
        }
    }
}
@media (max-width:650px){
    .footer-page{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 5vw;
        &>hr:nth-of-type(1){
            display: none;
        }
    }
    .footer-company{
        flex-direction: row;
        justify-content: center;
        gap: 7vw;
        width: 95vw;
        
    }
    .footer-company-detail{
        display: flex;  
        flex-direction: column;
        margin-top: 2vw;
        width: 30vw;
        &>img{
            width: 30vw;
            padding: 1vw;
        }
        &>h3{
            font-size: 5vw;
            text-align: center;
        }
        
    }
    .footer-company>iframe{
        display: flex;
        width: 48vw;
        margin-top: 2vw;
        margin-left: 0;
    }
    .footer-links{
        display: flex;
        margin-top: 2vw;
        width: 30vw;
        &>a{
            text-align: center;
        }
    }
    .footer-contacts{
        display: flex;
        justify-content: center;
        padding: 1vw;
        width: 57vw;
        &>div{
            width: 100%;
        }
        &>div>img{
            width: 4.5vw ;
        }
        &>div>p{
            font-size: 3.25vw;
            text-align: start;
          }
         &>div>a{
            font-size: 3.5vw;
            min-width: 50vw;
         } 
         &>div:nth-of-type(2){
            width: 6.5vw;
            gap: 1%;
            &>img{
                width: 100%;
                transform: translate(-10% , -20%);
            }
        }
    }
}